{% extends "layout_admin.njk" %}
{% block content %}

    <div class="header-create">
        <h2>Criar Receita</h2>
        <div class="create-menu">
            <a href="#">Deletar</a>
            <a href="#">Salvar Receita</a>
        </div>
    </div>

    <main class="form-create">
        <form action="">
            <div class="item">
                <div>Imagem da receita</div>
                <input type="url" name="image_url" placeholder="http://">
            </div>

            <div class="item" id="ingredients">
                <div>Ingredientes</div>
                <div class="ingredients">
                    <input type="text" name="ingredients[]" value="" placeholder="Ingredientes">
                </div>
            </div>
        <button type="button" class="add-ingredient">Adicionar ingrediente</button>

        <div class="item" id="preparation">
                <div>Modo de preparo</div>
                <div class="preparation">
                    <input type="text" name="preparation[]" value="" placeholder="Modo de preparo">
                </div>
            </div>
        <button type="button" class="add-preparation">Adicionar novo passo</button>

        <div class="item">
                <div>Informações adicionais</div>
                <textarea cols="133" rows="12" wrap="hard" name="information" placeholder="Informações complementares da receita"></textarea>
            </div>

        
        </form>
    </main>
{% endblock %}