{% extends "layout_admin.njk" %}
{% block content %}
    <div id="content">
        <div class="top-card">
            <h2>Criar Receita</h2>
            <a href="#">Deletar</a>
            <a href="#">Salvar Receita</a>
        </div>
        <form action="">
            <input type="text" name="recipe_url" id="">
        </form>
    {% endblock %}