{% extends "layout_admin.njk" %}

{% block content %}

    <div id="content">
        <section class="more-acess">

            <div class="ger-recipes">
                <h2>Gerencias Receitas</h2>
                <a href="/admin/create">Criar nova receita</a>
            </div>
            <div class="cardsAdmin">
                {% for recipe in recipes %}
                    <div class="card">
                        <div class="card-img">
                            <div class="img-card">
                                <img src="{{recipe.img}}" alt="Imagem de {{recipe.title}}">
                            </div>
                            <h4>{{recipe.title}}</h4>
                            <p class="by-name">por
                                {{recipe.by}}</p>
                            <p>
                                <a href="/admin/recipes/{{recipe.id}}"> Visualizar </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
    </div>

{% endblock %}