<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles.css">
        <title>Foodfy - Home</title>
    </head>
    <body>
        <header class="headerAdmin">
                <div class="logo">
                    <a href="/"><img src="/images/wlogo.png" alt=""></a>
                </div>
            </header>
        <div id="content">
            {% block content %}
            {% endblock %} 
        </div>

        <script src="/scripts_admin.js"></script>
    </body>
</html>