{% extends "layout.njk" %}

{% block content %}

    <div id="about">
        <div class="about-foody">
            <h3>Sobre o Foodfy</h3>
            <p>Lorem Ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, si t amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis.
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis.
            </p>
        </div>

        <div class="how-start">
            <h4>Como tudo começou...</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis.
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis.
            </p>
        </div>

        <div class="our-recipes">
            <h4>Nossa receitas</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero blanditiis, deleniti ullam quas modi, voluptas, illum ea a laudantium iure similique facere repellendus facilis cupiditate ex quis ipsum excepturi reiciendis.
            </p>
        </div>
    </div>

{% endblock %}