@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#content {
    text-align: center;
    margin: 0 auto;
    max-width: 940px;
}


/* ==== Header ==== */

.layout {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-items: left;
    align-items: center;
    margin-top: 38px;
}


header .links a {
    text-decoration: none;
    margin-left: 30px;
    color: #111111;
    font-size: 16px;
}

.links a:hover {
    text-decoration: underline;
}

.headerAdmin{
    background-color: black;
    padding: 40px;
}

.headerAdmin img{
    margin-left: 21%;
}


/* ==== INFO INICIAL ===== */

.info {
    margin-top: 30px;
    width: 100%;
    height: 346px;
    background-color: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 46px;
}

.info .bg-info {
    font-size: 16px;
    text-align: left;
    padding: 60px;
    margin-top: 117px;
}

.img-info {
    margin-top: 46px;
}


/* ==== MAIS ACESSADAS ===== */

.more-acess {
    margin-top: 50px;
}

.more-acess h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #111111;
}


/* ===== CARDS ===== */

.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}

.cardsAdmin {
    margin: 38px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.cardsAdmin .card-img img{
    width: 172px;
    height: 80px;
    float: left;
    cursor: pointer;
    margin-right: 20px;
}

.cardsAdmin p, h5{
    text-align: left;
    padding: 2px;
}

.cardsAdmin .card-img h5{
    font-size: 18px;
}

.cardsAdmin .card-img p{
    color: #777;
}

.cardsAdmin a{
    text-decoration: none;
    color: #6558C3;
    font-size: 14px;
    font-weight: bold;
}

.card-img img {
    width: 100%;
    border-radius: 8.5px;
}

section .info-card {
    font-size: 18px;
    text-align: left;
    font-weight: lighter;
    margin-top: 16px;
}

section .info-card p {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}


/* ==== FOOTER ===== */

footer {
    margin-top: 50px;
    background-color: #EEEEEE;
    height: 66px;
    width: 100%;
    text-align: center;
    bottom: 0;
}

footer .foodfy-footer p {
    color: #999999;
    padding: 23px;
}


/* ==== SOBRE ===== */

#about {
    text-align: justify;
}

#about p {
    margin-top: 30px;
}

.about-foody h3 {
    margin-top: 50px;
    font-style: 24px;
}

.how-start,
.our-recipes h4 {
    margin-top: 30px;
}


/* ==== MODAL ==== */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}


/* ==== CONTEUDO MODAL */

.modal {
    background-color: rgb(255, 255, 255);
    width: 660px;
    height: 413px;
    margin: 25vh auto;
    position: relative;
    border-radius: 16px;
}

.modal img {
    width: 600px;
    height: 200px;
    border-radius: 10px;
    margin: 30px 30px 20px;
}

div.modal h1 {
    font-family: Roboto;
    font-size: 24px;
    color: #111111;
    text-align: center;
}

div.modal h2 {
    font-family: Roboto;
    font-size: 18px;
    color: #777777;
    text-align: center;
}

.modal-overlay .close-modal {
    color: #999999;
    position: absolute;
    right: 47%;
    top: 75%;
    cursor: pointer;
}


/* ==== MODAL ACTIVE ===== */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 65%;
    position: absolute;
    top: 5%;
}


/* ==== RECIPE ==== */

.card.recipe {
    margin: 0 auto;
}

.info-recipe {
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
}

.info-recipe p {
    font-size: 20px;
    color: #777;
    margin-top: 4px;
}

.about-recipe {
    margin: 0 auto;
    text-align: left;
}

.about-recipe h3 {
    margin-top: 50px;
}

.about-recipe span {
    margin-top: 50px;
    padding: 18px;
    font-size: 14px;
    color: rgb(214, 214, 214);
    cursor: pointer;
}

.about-recipe p {
    margin-top: 18px;
    font-size: 16px;
}

.ingredients-list,
.preparation-list {
    margin-top: 20px;
    font-size: 18px;
}

.ingredients li,
.preparation li {
    margin-left: 16px;
    line-height: 28px;
}

.hide-show {
    display: none;
}