{% extends "layout.njk" %}

{% block content %}

    <div id="content">

        <section class="info">
            <div class="bg-info">
                <h2>As melhores receitas</h2>
                <p>
                    Aprenda a construir os melhores pratos com as receitas criadas por profissionais do mundo inteiro
                </p>
            </div>
            <div class="img-info">
                <img src="/images/chef.png" alt="Imagem cartoon chefe">
            </div>
        </section>

        <section class="more-acess">
            <h2>Mais acessadas</h2>
            <div class="cards">
                <div class="card">
                    <div class="card-img">
                        <img src="{{recipes[0].image_url}}" alt="">
                    </div>
                    <div class="info-card">
                        <h5>{{recipes[0].title}}</h5>
                        <p class="by-name">{{recipes[0].by}}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="{{recipes[1].image_url}}" alt="">
                    </div>
                    <div class="info-card">
                        <h5>{{recipes[1].title}}</h5>
                        <p class="by-name">{{recipes[1].by}}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="{{recipes[2].image_url}}" alt="">
                    </div>
                    <div class="info-card">
                        <h5>{{recipes[2].title}}</h5>
                        <p class="by-name">{{recipes[2].by}}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="{{recipes[3].image_url}}" alt="">
                    </div>
                    <div class="info-card">
                        <h5>{{recipes[3].title}}</h5>
                        <p class="by-name">{{recipes[3].by}}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="{{recipes[4].image_url}}" alt="">
                    </div>
                    <div class="info-card">
                        <h5>{{recipes[4].title}}</h5>
                        <p class="by-name">{{recipes[4].by}}</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="{{recipes[5].image_url}}" alt="">
                    </div>
                    <div class="info-card">
                        <h5>{{recipes[5].title}}</h5>
                        <p class="by-name">{{recipes[5].by}}</p>
                    </div>
                </div>



            </div>
        </section>
    </div>

{% endblock %}