<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles.css">
        <title>Foodfy - Home</title>
    </head>

    <body>
        <div id="content">
            <header>
                <div class="logo">
                    <a href="/"><img src="./assets/logo.png" alt=""></a>
                </div>
                <div class="links">
                    <a class="link" href="/about">Sobre</a>
                    <a class="link" href="/recipes">Receitas</a>
                </div>
            </header>

            <h1>PÁGINA NÃO ENCONTRADA !</h1>
            <p>Verifique o endereço digitado, ou entre em contato com a gente !</p>
            
        </div>
        <footer>
            <div class="foodfy-footer">
                <p>Todos os direitos reservados, receitas
                    <a href="/">Foodfy</a>
                </p>
            </div>
        </footer>

        <!-- JS -->
        <script src="scripts.js"></script>
    </body>

</html>