{% extends "layout.njk" %}

{% block content %}

    <div id="content">
        <section class="more-acess">
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card">
                        <div class="card-img">
                            <img src="{{recipe.img}}" alt="Imagem de {{recipe.title}}">
                        </div>
                        <div class="info-card">
                            <h5>{{recipe.title}}</h5>
                            <p class="by-name">por
                                {{recipe.by}}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
    </div>

{% endblock %}